<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card>
        <img mat-card-image src = "{{ dish.image }}">
      </mat-card>
      <mat-card-content>
        {{ dish.description }}
      </mat-card-content>
    </mat-card>
</div>

<div fxFlex="40">
  <mat-list role="list">
    <h2 mat-header>COMMENTS</h2>
    <mat-list-item role="listitem" *ngFor="let comments of dish.comments">
      <p matLine> {{ comments.rating }} Stars </p>
      <p matLine> {{ comments.comment }} </p>
      <p matLine> {{ comments.author }} </p>
      <p matLine> {{ comments.date | date }} </p>
    </mat-list-item>
  </mat-list>
</div>

</div>